<div class=" card blue-gradient lighten-3 chat-room mt-3">
    <div  class="card-body">
      <!-- Grid row -->
      <div class="row px-lg-2 px-2">
        <!-- Grid column -->
        <div class="mx-auto">
          <div style="width: 800px;" class="white z-depth-1 px-3 pt-3 p-2">
            <form #submitForm="ngForm" class="text-center" (ngSubmit)="formSubmitted(submitForm)" style="color: #9933CC;">
                <!-- User Name -->
                <div class="md-form">
                    <input required type="text" id="materialRegisterFormPhone" class="form-control" aria-describedby="materialRegisterFormPhoneHelpBlock" mdbInput ngModel name="username" />
                    <label for="materialRegisterFormPhone">Username</label>
                </div>
                <div class="form-row">
                    <div class="col">
                        <!-- First name -->
                        <div class="md-form">
                            <input required name="firstname" type="text" id="materialRegisterFormFirstName" class="form-control " mdbInput ngModel/>
                            <label for="materialRegisterFormFirstName">First name</label>
                        </div>
                    </div>
                    <div class="col">
                        <!-- Last name -->
                        <div class="md-form">
                            <input required type="email" id="materialRegisterFormLastName" class="form-control" mdbInput ngModel name="lastname" />
                            <label for="materialRegisterFormLastName">Last name</label>
                        </div>
                    </div>
                </div>
                <!-- E-mail -->
                <div class="md-form mt-0">
                    <input required type="email" id="materialRegisterFormEmail" class="form-control" mdbInput ngModel name="email" />
                    <label for="materialRegisterFormEmail">E-mail</label>
                </div>
                <!-- Password -->
                <div class="md-form">
                    <input required type="password" id="materialRegisterFormPassword" class="form-control" aria-describedby="materialRegisterFormPasswordHelpBlock" mdbInput ngModel name="password" />
                    <label for="materialRegisterFormPassword">New Password</label>
                    <small id="materialRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
              At least 8 characters
            </small>
                </div>
    
                <!-- Sign up button -->
                <div class="form-row">
                    <div class="col mx-3">
                         <div class="md-form">
                    <input required type="password" id="materialRegisterFormPassword" class="form-control" aria-describedby="materialRegisterFormPasswordHelpBlock" mdbInput ngModel name="password" />
                    <label for="materialRegisterFormPassword">Password</label>
                    
                   
                </div>
                    </div>
                    <div class="col mx-3">
                   <button mdbBtn color="info" outline="true" rounded="true" block="true" class="my-4 waves-effect z-depth-0" mdbWavesEffect type="submit" style="border-radius: 20px;">
                Update
              </button>
                    </div>
                </div>
               
                <hr />
            </form>
          </div>
        </div>
        <!-- Grid column -->
       
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </div>
  