
<div *ngIf="latest" class=" card blue-gradient lighten-3 chat-room mt-3">
  
  <div class="card-body">
    <!-- Grid row -->
    <div class="row px-lg-2 px-2">
      <!-- Grid column -->
      <div *ngIf="innerWidth > 1270 || page == 'headers'" class="col-md- col-xl-4 px-0">
        <span style="text-align: center;">
          <button
            (click)="getMessages()"
            type="button"
            outline="true"
            rounded="true"
            style="border-radius: 20px;margin-top: -20px; "
            class="btn btn-info btn-rounded btn-sm  waves-effect waves-light"
          >
            Friends
          </button>
          <button
            type="button"
            outline="true"
            rounded="true"
            style="border-radius: 20px;margin-top: -20px; "
            class="btn btn-info btn-rounded btn-sm waves-effect waves-light "
            (click)="getChatrooms()"
          >
            Chatrooms
          </button>
        </span>

        <div class="white z-depth-1 px-3 pt-3 p-2">
          <!-- :========================================= Friends list ==============================================-->
          
          <ul
            *ngIf="render === 'friends'"
            style="height: 70vh; overflow-y: scroll; "
            class="list-unstyled friend-list "
          >
          <li *ngIf="!latest.length"
              class="lighten-3 p-2 text-muted text-center"
              
            >You have no messages yet </li>
            <li
            style="height: 5em;"
              (click)="changeCurrent(message);page = 'chat'"
              *ngFor="let message of latest"
              class="lighten-3 p-2"
              [ngClass]="{
                'active grey': receiverId(message) === currentReceiver
              }"
            >
              <a class="d-flex justify-content-between">
                <img
                [src]="http.initialsGenerator(
                  message.sender.username === currentUserUsername?
                  message.receiver.firstname + ' ' + message.receiver.lastname : 
                  message.sender.firstname + ' ' + message.sender.lastname )"
                  alt="avatar"
                  class="avatar rounded-circle d-flex align-self-center mr-2 z-depth-1"
                />
                <div class="text-small">
                  <strong style="float: left;">
                    {{
                      message.sender.username === currentUserUsername
                        ? message.receiver.firstname +
                          " " +
                          message.receiver.lastname
                        : message.sender.firstname +
                          " " +
                          message.sender.lastname
                    }}
                  </strong>
                                <br />
                                    <p style="text-overflow: ellipsis; max-height: 1.5em; max-width: 120px; overflow: hidden;" class="last-message text-muted">{{ message.content }}</p>
                                </div>
                                <div class="chat-footer">
                                    <p class="text-smaller text-muted mb-0">{{getTime(message._id)}}</p>
                                    <!-- <span class="badge badge-danger float-right">1</span> -->
                                </div>
                            </a>
                        </li>


                    </ul>
                



          <!-- :========================================= Chats list ==============================================-->

          <ul

          *ngIf="render === 'chatrooms'"
          style="height: 65vh; overflow-y: scroll; "
          class="list-unstyled friend-list "

          >
          <li *ngIf="!latestChatrooms.length"
              class="lighten-3 p-2 text-muted text-center"
              
            >You are not in any chatroom yet </li>
          
            <li
              (click)="currentChatroom(chatroom);page = 'chat'"
              *ngFor="let chatroom of latestChatrooms"
              class="lighten-3 p-2"
            >
              <a class="d-flex justify-content-between">
                <img
                  [src]="http.initialsGenerator(chatroom.name, 90)"
                  alt="avatar"
                  class="avatar rounded-circle d-flex align-self-center mr-2 z-depth-1"
                />
                <div class="text-small">
                  <strong>
                    {{ chatroom.name }}
                  </strong>
                  <br />
                  <p class="last-message text-muted"></p>
                </div>
                <div class="chat-footer">
                  
                </div>
              </a>
            </li>
          </ul>

          <button
            data-toggle="modal"
            data-target="#centralModalSm"
            *ngIf="render === 'chatrooms'"
            type="button"
            outline="true"
            rounded="true"
            style="border-radius: 20px;margin-top: -5px; "
            class="btn btn-info btn-rounded btn-sm waves-effect waves-light "
            (click)="getChatrooms()"
          >
            +
          </button>
        </div>
      </div>

      <!-- Grid column -->
      <!-- Central Modal Small -->
      <div
        class="modal fade"
        id="centralModalSm"
        tabindex="-1"
        role="dialog"
        aria-labelledby="myModalLabel"
        aria-hidden="true"
      >
        <!-- Change class .modal-sm to change the size of the modal -->

        <div class="modal-dialog modal-sm" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4
                class="modal-title w-100 text-muted align-self-center"
                style="font-family:sans-serif;"
                id="myModalLabel"
              >
                make chatroom
              </h4>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body text-muted">
              <input
                type="text"
                placeholder="chatroom name"
                [(ngModel)]="chatroomName"
              />
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary btn-sm"
                data-dismiss="modal"
              >
                Close
              </button>
              <button
                type="button"
                class="btn btn-primary btn-sm"
                (click)="createChatroom()"
              >
                Save changes
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- Central Modal Small -->

      <!-- Grid column -->

      <div style="width: 100%;" *ngIf=" innerWidth > 1270 || page == 'chat'" [ngClass]="{'col-md-6 col-xl-8 pl-md-3 mt-4 px-lg-auto px-0': innerWidth > 1270}">
        <!-- dropdown list -->
        <div class="row justify-content-between">

          <i (click)="page = 'headers'" *ngIf="innerWidth < 1270" style="font-size: 2em;color: #fff;cursor: pointer;" class="mb-4 fas fa-arrow-left col"></i>
  
          <div style="color: #fff;cursor: pointer;text-align: right;"  *ngIf="render === 'chatrooms' && messages" class="mb-4 dropdown ml-auto col mr-4">
            <!--Trigger-->
  
            <a
              type="button"
              id="dropdownMenu2"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
              ><img
                id="dropdownMenu2"
              
                width="25px"
                src="../../../assets/open-menu.png"
            /></a>
  
            <!--Menu-->
            <div
              *ngIf="currentRoom && currentUser "
              class="dropdown-menu dropdown-primary"
            >
              <a
                class="dropdown-item"
                data-toggle="modal"
                data-target="#modelFriends"
                (click)="members()"
              >
                Members
              </a>
              <a
                *ngIf="currentUser._id === currentRoom.admin"
                (click)="fetchFriends()"
                class="dropdown-item"
                data-toggle="modal"
                data-target="#modelFriends"
                >Add member</a
              >
              <a class="dropdown-item" (click)="leaveChatroom()"
                >{{
                  currentUser._id === currentRoom.admin ? "Delete" : "Leave"
                }}
                chatroom</a
              >
            </div>

          </div>
        </div>
        <!--  -->

        <div *ngIf="messages" class="chat-message">
          <ul id="scrollable"
            [scrollTop]="100000000"

            class="list-unstyled chat"
            style="height: 65vh; overflow-y: scroll; margin-top: 0px;"
          >
            <!--================================= the Sent message ============================================  -->
            <div style="width: 95%;" *ngFor="let message of messages">
              <li
                *ngIf="message.sender.username !== currentUserUsername"
                class="d-flex justify-content-left mb-4"
                style="min-height: 5em ; width: 100%;"

              >
                <img
                  [src]="
                    http.initialsGenerator(
                      message.sender.firstname + ' ' + message.sender.lastname,
                      200
                    )
                  "
                  alt="avatar"
                  class="avatar rounded-circle conv mr-2 ml-lg-3 ml-0 z-depth-1"
                />
                <div
                  class="chat-body white p-3 ml-2 z-depth-1"
                  style="display: flex ; flex-direction: column; justify-content: center; width: 85%; float: left;"
                >
                  <div class="header">
                    <strong class="primary-font">{{
                      message.sender.firstname + " " + message.sender.lastname
                    }}</strong>

                    <small class="pull-right text-muted mx-4" style="float:right">
                      <i class="far fa-clock"></i>{{getTime(message._id)}}</small

                    >
                  </div>
                  <hr class="w-100" style="margin:2px" />
                  <p class="mb-0" style="margin-top:0px;">
                    {{ message.content }}
                  </p>
                </div>
              </li>
              <!-- ============================ The recieved message ============================= -->
              <li
                *ngIf="message.sender.username === currentUserUsername"

                class="d-flex justify-content-right mb-4"
                style="min-height: 5em;"

              >
                <div
                  class="chat-body white p-3 ml-2 z-depth-1"
                  style="display: flex ; flex-direction: column; justify-content: center; width: 85%;"
                >
                  <div class="header">
                    <strong class="primary-font">{{
                      message.sender.firstname + " " + message.sender.lastname
                    }}</strong>
                    <small class="pull-right text-muted" style="float:right">
                      <i class="far fa-clock"></i>{{getTime(message._id)}}</small
                    >
                  </div>
                  <hr class="w-100" style="margin:2px" />
                  <p class="mb-0" style="margin-top:0px;">
                    {{ message.content }}
                  </p>
                </div>
                <img
                  [src]="
                    http.initialsGenerator(
                      message.sender.firstname + ' ' + message.sender.lastname,
                      200
                    )
                  "
                  alt="avatar"
                  class="avatar rounded-circle mr-0 ml-3 z-depth-1"
                />
              </li>
            </div>
            <!-- ============================ The textarea ============================= -->
          </ul>
           <div >
           <!-- <div class="form-group basic-textarea">
              <textarea
                [(ngModel)]="content"
                class="form-control pl-2 my-0"
                id="exampleFormControlTextarea2"
                rows="3"
                placeholder="Type your message here..."
              ></textarea>
            </div>
            <button
              (click)="sendMessage()"
              type="button"
              outline="true"
              rounded="true"
              style="border-radius: 20px  ; "
              class="btn btn-info btn-rounded btn-sm waves-effect waves-light  float-right"
            >
              Send
            </button>-->
            <div class="md-form input-group mb-3">
              <input [(ngModel)]="content" style="background: white;" type="text" class="form-control py-2" placeholder="Type your message here..." aria-label="Recipient's username"
                aria-describedby="MaterialButton-addon2">
              <div class="input-group-append">
                <button (click)="sendMessage()" class="btn btn-md btn-info m-0 px-3 mr-4" type="button" id="MaterialButton-addon2">Send</button>
              </div>
            </div>
          </div> 
        </div>
      </div>
      </div>
      <!-- Grid column -->
    </div>
  </div>

  <!-- Grid row -->

<!-- </div> -->


<!-- addMember -->

<div
  class="modal fade"
  id="modelFriends"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <div
    class="modal-dialog modal-notify modal-info w-responsive"
    role="document"
  >
    <!--Content-->
    <div class="modal-content">
      <!--Header-->
      <div class="modal-header">
        <p class="heading lead">{{ toggle ? "Members" : "Friends" }} List</p>
      </div>

      <!--Body-->
      <div *ngIf="friends" class="modal-body">
        <div class="text-center">
          <div>
            <li
              (click)="addMember(friend)"
              *ngFor="let friend of friends"
              class="d-flex justify-content-between mb-4"
              style="height: 6em;"
            >
              <img
                src="https://mdbootstrap.com/img/Photos/Avatars/avatar-6.jpg"
                alt="avatar"
                class="avatar rounded-circle conv mr-2 ml-lg-3 ml-0 z-depth-1"
                src="https://mdbootstrap.com/img/Photos/Avatars/avatar-6.jpg"
              />
              <div
                class="chat-body white p-3 ml-2 z-depth-1"
                style="display: flex ; flex-direction: column; justify-content: center; width: 100%; float: left;"
              >
                <div class="header">
                  <strong
                    [routerLink]="'/users/' + friend.username"
                    class="primary-font"
                    data-dismiss="modal"
                  >
                    {{ friend.username }}
                  </strong>
                </div>

                <hr class="w-100" style="margin:2px" />
                <p class="mb-0" style="margin-top:0px;">
                  {{ friend.firstname + " " + friend.lastname }}
                </p>
              </div>
            </li>
          </div>
        </div>
      </div>

      <!--Footer-->
      <div class="modal-footer justify-content-center">
        <a
          type="button"
          class="btn btn-outline-primary waves-effect"
          data-dismiss="modal"
          outline="true"
          >Go Back</a
        >
      </div>
    </div>
  </div>
</div>
<!--  -->
