<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark blue-gradient ">
    <!-- Navbar brand -->
    <a class="navbar-brand" routerLink="" routerLinkActive="router-link-active"> Omegle</a>
    <!-- Collapse button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav" aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="basicExampleNav">
        <!-- Links -->
        <ul class="navbar-nav">
          <li *ngIf="isAuthenticated" class="nav-item active" [routerLinkActive]="['active']">
  
              <a class="nav-link" routerLink="profile" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }">
                Profile
              </a>
          </li>
        </ul>
        <ul class="ml-auto navbar-nav">

          <div  class="form-inline">
            <div class="md-form my-0">
              <input style="color: white;" [(ngModel)]="inputVal" class="form-control" type="text" placeholder="Search" aria-label="Search">
            </div>
            <button (click)="assignVal()" class="btn btn-outline-white btn-md my-0 ml-sm-2" type="submit">Search</button>
          </div>
      
        </ul>
        <ul class="navbar-nav ml-auto">

            <li *ngIf="!isAuthenticated" class="nav-item active" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }">
                <a class="nav-link" routerLink="login" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }">
                login
              </a>
            </li>

            <li *ngIf="isAuthenticated" class="nav-item active" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }">
                <a class="nav-link" (click)="logOut()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }">
              logout
            </a>
            </li>
            <!-- <span style = "float: right;" class="nav-item"   routerLink="/logout" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }">
              logout
            </span> -->
        </ul>

        <!-- <li class="nav-item">

        <a class="nav-link" href="#">Pricing</a>
      </li> -->
        <!-- Dropdown -->
        <!-- <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          id="navbarDropdownMenuLink"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          >Dropdown</a
        >
        <div
          class="dropdown-menu dropdown-primary"
          aria-labelledby="navbarDropdownMenuLink"
        >
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li> -->

        <!-- Links -->
    </div>

    <!-- Collapsible content -->
</nav>
<!--/.Navbar-->