<div style="height: 600px;" class=" card blue-gradient lighten-3 chat-room mt-3 ">
    <div class="card-body">
      <!-- Grid row -->
      <div class="row px-lg-2 px-2 justify-content-center ">
        <!-- Grid column -->
        <div 
        style="width : 400px"
        class="active white rounded-pill border border-primary lighten-3 p-2"
      >
        <a class="d-flex justify-content-left">
          <img
            src="https://mdbootstrap.com/img/Photos/Avatars/avatar-8.jpg"
            alt="avatar"
            class="avatar rounded-circle d-flex align-self-center mr-2 z-depth-1"
          />
          <div class="text-small">
            <strong style="float: left;">
              HAHA
            </strong>
            <br />
            <p class="last-message text-muted">hehe</p>
          </div>
          <div class="chat-footer">
          </div>
        </a>
    </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-6 col-xl-8 pl-md-3 mt-4 px-lg-auto px-0">
          <div class="chat-message">
            
            <div class="white">
            </div>
          </div>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </div>
  