<!-- Card -->
<div *ngIf="status && $user | async as user" style="display: flex; flex-direction:column; height: 600px;" class="card testimonial-card my-4 text-center">
    <!-- Background color -->
    <div style="flex:10;" class="card-up blue-gradient"></div>

    <!-- Avatar -->
    <div style="margin-top: -125px; border-radius: 200px;" class="mx-auto white">
        <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20%2810%29.jpg" class="rounded-circle" alt="woman avatar" />
    </div>

    <!-- Content -->
    <div style="flex:13" class="card-body">
        <!-- Name -->
        <h4 class="card-title">{{ user.firstname + " " + user.lastname }}</h4>
        <hr />
        <!-- Quotation -->
        <p>
            <i class="fas fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, adipisci
        </p>









        <!--Modal: Login with Avatar Form-->
        <div class="modal fade" id="modalLoginAvatar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog cascading-modal modal-avatar modal-sm" role="document">
                <!--Content-->
                <div class="modal-content">

                    <!--Header-->
                    <div class="modal-header">
                        <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20%281%29.jpg" alt="avatar" class="rounded-circle img-responsive">
                    </div>
                    <!--Body-->
                    <div class="modal-body text-center mb-1">

                        <h5 class="mt-1 mb-2">Abobker</h5>

                        <div class="md-form ml-0 mr-0">
                            <input #inputField type="text" type="text" id="form29" class="form-control form-control-sm validate ml-0">
                            <label data-error="wrong" data-success="Sent" for="form29" class="ml-0">Enter Your Message</label>
                        </div>

                        <div class="text-center mt-4">
                            <button (click)="sendMessage(inputField.value)" class="btn btn-blue mt-1">Send<i class="fas fa-sign-in ml-1"></i></button>
                        </div>
                    </div>

                </div>
                <!--/.Content-->
            </div>
        </div>
        <!--Modal: Login with Avatar Form-->
        <div class="d-flex justify-content-center">
            <div *ngIf="status=='Remove friend'" class="text-center">
                <a href="" class="my-4 waves-effect z-depth-0 py-3 px-4" style="border-radius: 100px; width: auto;" mdbBtn color="blue" block="true" data-toggle="modal" data-target="#modalLoginAvatar"><i class="fas fa-paper-plane">  </i></a>
            </div>
            <button *ngIf="!profile" class="my-4 waves-effect z-depth-0 mx-2" style="border-radius: 20px;width: 200px;" mdbBtn color="blue" outline="true" rounded="true" block="true" mdbWavesEffect (click)="handleFriendRequests()">
      {{ status }}
    </button>
        </div>
    </div>
</div>
<!-- Card -->