<!-- Card -->
<div style="display: flex; flex-direction:column; height: 600px;" class="card testimonial-card my-4 text-center">

    <!-- Background color -->
    <div style="flex:10;" class="card-up blue-gradient"></div>
  
    <!-- Avatar -->
    <div style="margin-top: -125px; border-radius: 200px;" class="mx-auto white">
      <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20%2810%29.jpg" class="rounded-circle" alt="woman avatar">
    </div>
  
    <!-- Content -->
    <div style="flex:13" class="card-body">
      <!-- Name -->
      <h4 class="card-title">Anna Doe</h4>
      <hr>
      <!-- Quotation -->
      <p><i class="fas fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, adipisci</p>
    </div>
  
  </div>
  <!-- Card -->