
<div *ngIf="status && $user | async as user" style="display: flex; flex-direction:column; height: 600px;" class="card testimonial-card my-4 text-center">
    <!-- Background color -->
    <div style="flex:10;" class="card-up blue-gradient"></div>

    <!-- Avatar -->
    <div style="margin-top: -125px; border-radius: 200px;" class="mx-auto white">
        <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20%2810%29.jpg" class="rounded-circle" alt="woman avatar" />
    </div>

    <!-- Content -->
    <div style="flex:13" class="card-body">
        <!-- Name -->
        <h4 class="card-title">{{ user.firstname + " " + user.lastname }}</h4>
        <hr />
        <!-- Quotation -->
        <p>
            <i class="fas fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, adipisci
        </p>
      
      
        <div class="modal fade" id="modelSendMessage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog cascading-modal modal-avatar modal-sm" role="document">
                <!--Content-->
                <div class="modal-content">

                    <!--Header-->
                    <div class="modal-header">
                        <img
                         [src]="http.initialsGenerator(user.firstname + ' ' + user.lastname)"
                         alt="avatar"
                         class="rounded-circle"
                         />
      
                    </div>
                    <!--Body-->
                    <div class="modal-body text-center mb-1">

                        <h5 class="mt-1 mb-2">{{user.firstname + " " + user.lastname}}</h5>

                        <div class="md-form ml-0 mr-0">
                            <input #inputField type="text" type="text" id="form29" class="form-control form-control-sm validate ml-0">
                            <label data-error="wrong" data-success="Sent" for="form29" class="ml-0">Enter Your Message</label>
                        </div>

                        <div class="text-center mt-4">
                            <button (click)="sendMessage(inputField.value)" class="btn btn-blue mt-1">Send<i class="fas fa-sign-in ml-1"></i></button>
                        </div>
                    </div>

                </div>
                <!--/.Content-->
            </div>
        </div>

        <div class="d-flex justify-content-center">

            <!-- The Button for sending messages dirictly fome the profile-->
            <div *ngIf="status=='Remove friend'" class="text-center">
                <a href="" class="my-4 waves-effect z-depth-0 py-3 px-4" style="border-radius: 100px; width: auto;" mdbBtn color="blue" block="true" data-toggle="modal" data-target="#modelSendMessage"><i class="fas fa-paper-plane"></i></a>
            </div>

            <!-- Button for sending/removeing/accepting a friend request -->
            <button *ngIf="!profile" class="my-4 waves-effect z-depth-0 mx-2" style="border-radius: 20px;width: 200px;" mdbBtn color="blue" outline="true" rounded="true" block="true" mdbWavesEffect (click)="handleFriendRequests()">
                  {{ status }}
            </button>

            <!-- Button for showing the friends of th ecurrent user -->
            <a (click)="getAllFreinds()" class="my-4 waves-effect z-depth-0 py-3 px-4" style="border-radius: 100px; width: auto;" mdbBtn color="blue" data-toggle="modal" data-target="#modelFriends">Freinds</a>

            <a *ngIf="profile" (click)="getAllRequests()" class="my-4 waves-effect z-depth-0 py-3 px-4" style="border-radius: 100px; width: auto;" mdbBtn color="blue" data-toggle="modal" data-target="#modelFriends">Requests</a>

        </div>





        <!-- Central Modal Medium Info -->
        <div class="modal fade" id="modelFriends" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-notify modal-info w-responsive" role="document">
                <!--Content-->
                <div class="modal-content">
                    <!--Header-->
                    <div class="modal-header">
                        <p class="heading lead">Freinds List</p>
                    </div>

                    <!--Body-->
                    <div class="modal-body">
                        <div class="text-center">
                            <div>
                                <li *ngFor="let friend of friends" class="d-flex justify-content-between mb-4" style="height: 6em;">
                                    <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-6.jpg" alt="avatar" class="avatar rounded-circle conv mr-2 ml-lg-3 ml-0 z-depth-1" src="https://mdbootstrap.com/img/Photos/Avatars/avatar-6.jpg" />
                                    <div class="chat-body white p-3 ml-2 z-depth-1" style="display: flex ; flex-direction: column; justify-content: center; width: 100%; float: left;">
                                        <div class="header">
                                            <strong [routerLink]="'/users/' + friend.username" class="primary-font" data-dismiss="modal">
                                                {{friend.username}}
                                            </strong>
                                        </div>

                                        <hr class="w-100" style="margin:2px" />
                                        <p class="mb-0" style="margin-top:0px;">
                                            {{friend.firstname + ' ' + friend.lastname}}
                                        </p>

                                    </div>
                                    <a *ngIf="isRequest" (click)="acceptFriendRequest(friend._id)" class="my-4 waves-effect z-depth-0 py-3 px-4 mx-4" style="border-radius: 35px; width: 100px;" mdbBtn color="green" block="true"><i class="fas fa-check"></i></a>
                                </li>
                            </div>
                        </div>
                    </div>


                    <!--Footer-->
                    <div class="modal-footer justify-content-center">
                        <a type="button" class="btn btn-outline-primary waves-effect" data-dismiss="modal" outline="true">Go Back</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
