/* You can add global styles to this file, and also import other style files */
body {
  overflow: hidden;
  background-image: linear-gradient(
      rgba(62, 20, 20, 0.2),
      rgba(62, 20, 20, 0.4)
   ),
    url("https://cdn.dribbble.com/users/3119724/screenshots/6528316/greens-offbeat_estudio-1.jpg");
  height: 100vh;
  background-position: center;
  width: 100vw;
  object-fit: cover;
}

